@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sniglet:wght@400;800&display=swap');
.content{ 
    display: none;
    width: 100%;
    height: 200px;
  
}

.content.show { 
    display: flex ;
   gap: 14px;
   background-color: #c7d2fe ;
   border-radius: 0px 0px 8px 8px ;
   padding: 16px;
}
.content-img { 
    width: 50%;
    height: 250px;

}

*  { 
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
  font-family: "Sniglet", system-ui;
  font-weight: 500;
  font-style: normal;

}

body  { 
    background-color: #6366f2;
    display: flex;
    align-items: center;
    justify-content: center;
     min-height : 100vh

}

#container  { 
   background-color: white;
   width: 600%;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

}

.tab-buttons { 
   display: flex;
   gap: 6px;


}

.tab-btn  { 
    width: 100%;
    border: none;
    color: #020617;
    background-color: #f0f8ff;
    border-radius: 8px 8px 0px 0px ;
    padding: 8px;
    cursor: pointer;
    transition: backgroud-color .3s ease;
}

.tab-btn.active  { 
    background-color: #c7d2fe;

}

.tab-btn:hover  { 
   background-color: #a5b4fc;

}
